<% include("../layouts/header.ejs") %>

<h1>Forget Password</h1>

<% 
if(typeof message !== "undefined"){
    %>
    <h4><%= message%></h4>
    <%
}
%>

<form action="/forget" method="post">
    <input type="email"  name="email" placeholder="Enter Email" required><br><br>
    <input type="submit" value="Sent Reset Link" >
</form>
<a href="/login">Go Back</a>


<% include("../layouts/footer.ejs") %>